* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* ############ header ############ */

header {
  display: flex;
  padding: 20px;
  justify-content: flex-start;
}

.logo {
  background-image: url('./img/movie-time-cinema-logo.png');
  background-size: cover;
  width: 50px;
  height: 50px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 70px;
}

.shows {
  text-decoration: underline;
}

/* ############ Popup ############ */
.visible {
  display: none;
}
.popup .back {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
}

.popup .content {
  z-index: 2;
  width: 80%;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  position: absolute;
  border: 2px solid black;
}

.popup .close-btn {
  position: inherit;
  right: 10px;
  top: 10px;
}

.popup h1 {
  text-align: center;
 }

/* ############ body ############ */

.img-box {
  width: 200px;
  height: 150px;
  /* background-image: url('./img/movie-time-cinema-logo.png'); */
  background-size: cover;
}

/* Main Section */

.show-info {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.movie-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 75px 0;
}

.show-info div {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

.like {
  width: 20px;
  height: 20px;
  background-image: url('./img/heart.png');
  background-size: cover;
  display: block;
}

/* ############ footer ############ */

.footer {
  padding: 30px 10px;
  border: 2px solid black;
  font-size: 1.4rem;
}